pkgbase = hlb-bin
	pkgdesc = A developer-first language to build and test any software efficiently.
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/openllb/hlb
	arch = x86_64
	license = custom
	depends = glibc
	provides = hlb
	source_x86_64 = https://github.com/openllb/hlb/releases/download/v0.4.0/hlb-linux-amd64
	source_x86_64 = https://github.com/openllb/hlb/archive/refs/tags/v0.4.0.tar.gz
	sha256sums_x86_64 = 6478aa93b167bc02c0fab7ba8009e74080315c16c5bc9f2470eb3ac14a03be4a
	sha256sums_x86_64 = 95e2e499537facedca30dcf37818004be9b4aa630878a02382939a8df3c6b2c4

pkgname = hlb-bin
